<RCC>
    <qresource prefix="/assets">
        <file alias="qmldir">assets/qmldir</file>
        <file alias="Style.qml">assets/Style.qml</file>
        <file alias="genesis-x.svg">assets/genesis-x.svg</file>
        <file alias="logo.ico">assets/logo.ico</file>
    </qresource>
</RCC>
