<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Genesis-X</Name>
    <Version>1.0.0</Version>
    <Title>Genesis-X Installer</Title>
    <Publisher>Kooijman Incorporate Holding B.V.</Publisher>
    <ProductUrl>https://www.genesis-x.io</ProductUrl>
    <InstallerApplicationIcon>logo.ico</InstallerApplicationIcon>
    <InstallerWindowIcon>logo1.png</InstallerWindowIcon>
    <Logo>watermark1.png</Logo>
    <Watermark>/watermark1.png</Watermark>
    <WizardStyle>Modern</WizardStyle>
    <StyleSheet>genesisx.qss</StyleSheet>
    <WizardDefaultWidth>1024</WizardDefaultWidth>
    <WizardDefaultHeight>768</WizardDefaultHeight>
    <WizardMinimumWidth>1024</WizardMinimumWidth>
    <WizardMinimumHeight>768</WizardMinimumHeight>

    <StartMenuDir>Genesis-X</StartMenuDir>
    <TargetDir>@RootDir@/GenesisX</TargetDir>

    <ControlScript>controller.qs</ControlScript>

    <!--<RunProgram>
        <Description>Start Qt Creator</Description>

        <Path>@TargetDir@/Tools/QtCreator/bin/qtcreator.exe</Path>

        <WorkingDirectory>@TargetDir@/Tools/QtCreator/bin</WorkingDirectory>
        <Arguments>-settingspath "@HomeDir@/.config/QtProject"</Arguments>
        <RunElevated>false</RunElevated>
        <WaitForFinished>false</WaitForFinished>
    </RunProgram>-->
</Installer>
